@tailwind base;
@tailwind components;
@tailwind utilities;

/* .progress {
  width: 382px;
  -webkit-appearance: none;
  height: 6px;
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
} */

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 6px;
  background-color: #fea5b0;
  cursor: pointer;
}
